<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delphiworlds.geofencetest">
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeofenceTest">
        <!-- JobIntentService that handles the Geofence events -->
        <service android:name="com.delphiworlds.kastri.GeofenceTransitionsService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Receiver that receives broadcasts of Geofence events. Registered in the constructor of GeofenceManager -->
        <receiver android:name="com.delphiworlds.kastri.GeofenceIntentReceiver"
            android:enabled="true"
            android:exported="true">
            <!--
            <intent-filter>
                <action android:name="com.delphiworlds.kastri.GeofenceIntentReceiver.ACTION_RECEIVE_GEOFENCE" />
            </intent-filter>
            -->
        </receiver>
    </application>

</manifest>